body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.nav-link {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
}
.nav-link:hover {
    font-weight: 500;
    line-height: 1.5;
    font-size: 1em;
    letter-spacing: 0.04em;
    color: #404BBF;
}
.nav-link:active {
    font-weight: 500;
    line-height: 1.5;
    font-size: 1em;
    letter-spacing: 0.04em;
    color: #404BBF;
}

.nav-link:focus {
    font-weight: 500;
    line-height: 1.5;
    font-size: 1em;
    letter-spacing: 0.04em;
    color: #404BBF;
}

.contacts {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    color: #434455;
    letter-spacing: 0.02em;
}

.contacts:hover {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.header-logo {
    font-size: 1.125em;
    line-height: 1.3;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42;
}
.accent {
    color: #4D5AE5;
}

.contacts {
    color: #434455;
}
.contacts:hover {
    color: #404BBF;
}
.contacts:focus {
    color: #404BBF;
}

.hero-section {
    background-color: #2E2F42
}

.main-heading {
    text-align: center;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background-color: #2E2F42;
    color: #FFFFFF;
}


.button {
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
}
.button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

.button:focus {
background-color: #404BBF;
    color: #FFFFFF;
}

.feature-heading {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-paragraph {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.paragraph {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.team {
    background-color: #F4F4FD;
    color: #2E2F42;
}

.team-heading {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #F4F4FD;
    color: #2E2F42;
}

.team-desc {
    background-color: #FFFFFF;
}

.team-member {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.paragraph-team {
    color: #434455;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    text-align: center;
}

.portfolio-title {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-paragraph {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-heading {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.footer-paragraph {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-logo {
    font-size: 1.125em;
    line-height: 1.3;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;;
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer {
    background-color: #2E2F42;
}
